#order-show .print-action {
	text-align: center;
	margin: 15px
}

#order-show img {
	display: block;
	margin: 0 auto
}

#order-show .print-nav {
	width: 600px;
	text-align: right;
	margin: 5px auto
}

#order-show .link-button {
	padding: 5px 25px;
	margin: 3px
}

#orders .mainbox {
	padding-bottom: 50px
}

#orders .head {
	position: relative
}

#orders .bottom-tips {
	margin-top: 10px
}

#orders .sect {
	padding: 20px 20px 50px;
	width: auto
}

#orders .delivery-text {
	color: #808080
}

#orders .invalid {
	color: #ddd
}

#orders .points-intro {
	background: #fffbcc;
	border: 1px solid #ffec19;
	margin: 0 0 10px;
	padding: 10px
}

#orders .use-coupon-tips h3 {
	font-size: 18px
}

#orders .use-coupon-tips ul {
	margin: 10px 0 0 20px;
	font-size: 14px
}

#orders .use-coupon-tips li {
	margin-bottom: 5px;
	list-style: outside disc
}

#orders .info-section .amount {
	color: #c33
}

#refund .refund-box h3 {
	background: url(../image/sys-icons-48.png) no-repeat 0 -98px;
	height: 52px;
	line-height: 52px;
	font-size: 20px;
	padding: 0 0 0 60px;
	margin: 10px
}

#refund .refund-box ul {
	background: #f3f3f3;
	border: 1px #CCC solid;
	padding: 10px 18px;
	margin: 0 50px 0 70px
}

#refund .refund-box li {
	list-style: inside disc;
	line-height: 2
}

#refund .refund-box span {
	color: #999;
	margin: 0 6px 0 9px
}

#refund .refund-box p {
	margin: 30px 50px 0 70px
}

#refund .tips-section {
	padding-left: 28px
}

#refund .tips-section li {
	list-style: disc outside
}

#refund .field-group {
	margin-bottom: 0;
	padding: 5px 0 20px 80px;
	font-size: 12px
}

#refund .field-group label {
	width: 70px;
	font-size: 12px;
	text-align: right
}

#refund .field-group h4 {
	position: relative;
	top: 4px;
	font-weight: normal
}

#refund .coupon-field {
	margin-top: 20px;
	min-height: 20px;
	_height: 20px;
	padding: 5px 0 1px 10px;
	border: 1px solid #f4f4f4;
	background-color: #f8f8f8
}

#refund .reason-list label,#refund .coupon-field label {
	position: static;
	width: auto;
	padding: 0;
	margin: 0;
	font-size: 12px;
	text-align: left;
	cursor: pointer
}

#refund .reason-list input,#refund .coupon-field li input {
	vertical-align: middle
}

#refund .coupon-field li {
	margin-bottom: 5px
}

#refund .invalid {
	color: #999
}

#refund .reason-list span,#refund .coupon-field li span {
	margin-left: 10px;
	color: #999
}

#refund .reason-list li .extra,#refund .coupon-field li .extra {
	color: #C00
}

#refund .loading {
	margin: 0
}

#refund .long {
	height: 185px;
	overflow-y: scroll
}

#refund .f-text {
	width: 120px
}

#refund .remarks {
	color: #999
}

#refund .refund-count {
	color: #C33;
	font-size: 16px;
	font-weight: bold;
	font-family: arial
}

#refund .refund-reason {
	padding: 5px 0 5px 10px
}

#refund .reason-list {
	width: 410px;
	margin-top: 5px
}

#refund .reason-list li {
	float: left;
	width: 200px;
	padding: 3px 0
}

#refund .refund-method,#refund .refund-method .coupon-field {
	margin: 0 auto 10px;
	border: 0;
	background: #fff
}

#refund .refund-method label {
	font-size: 14px;
	font-weight: bold
}

#refund .refund-method em {
	font-size: 12px;
	color: #000;
	font-weight: normal
}

#refund .refund-method p {
	color: #999;
	line-height: 2em
}

#refund .refund-growth-tip {
	padding-left: 10px;
	margin-bottom: 12px;
	font-size: 12px;
	color: #999;
	line-height: 2em
}

.pg-check .money {
	color: #ea4f01;
	margin: 0 3px
}

.pg-check .money-symbol {
	color: inherit;
	margin: 0 3px;
	font-family: arial
}

.pg-check .warn {
	color: #ea4f01
}

.pg-check .muted {
	color: #999
}

.pg-check .pay-choice {
	line-height: 2em;
	font-size: 14px
}

.pg-check .pay-choice-tip {
	font-weight: bold;
	margin: 15px 0
}

.pg-check .pay-choice-list {
	border: 1px solid #d4d4d4;
	margin-bottom: 15px;
	padding: 15px 20px
}

.pg-check .order-list td {
	padding: 3px 0
}

.pg-check .order-list .item-name {
	width: 5em
}

.pg-check .order-list a {
	color: #333
}

.pg-check .pay-total {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin-bottom: 15px
}

.pg-check .paytype {
	padding: 10px 20px 15px 20px;
	border: 0;
	background: #f7f7f7
}

.pg-check .verify-mobile {
	padding: 10px 16px 16px;
	background: #f7f7f7;
	border: 0
}

.pg-check .verify-mobile .verify-code {
	width: 80px;
	padding: 3px
}

.pg-check .verify-mobile .verify-tip {
	line-height: 28px;
	margin-left: 10px;
	vertical-align: top;
	zoom: 1
}

.pg-check .verify-mobile .verify-control {
	margin-left: 15px
}

.pg-check .verify-mobile .verify-btn {
	font-size: 12px;
	padding: 2px 4px;
	*padding: 3px 4px 1px
}

.pg-check .verify-mobile .rebind-link {
	color: #999
}

.pg-check .verify-mobile .rebind-link:hover {
	color: #0BB
}

.pg-check .verify-mobile .error {
	color: #c33
}

.pg-check .form-submit {
	text-align: right;
	overflow: hidden;
	zoom: 1
}

.pg-check .form-submit .form-button {
	margin-bottom: 5px;
	padding: 10px 25px;
	*padding: 12px 25px 8px
}

.pg-check .form-submit .inline-link {
	font-size: 14px
}

#order-check .mainbox {
	padding-bottom: 40px
}

#order-check .mainbox h2 {
	font-size: 14px;
	border: 0;
	padding: 0;
	margin: 0 0 10px;
	color: #666
}

#order-check .common-tips-innerbox h3 {
	font-size: 18px
}

#order-check .common-tips-innerbox ul {
	margin: 10px 0 0 20px;
	font-size: 14px
}

#order-check .common-tips-innerbox li {
	margin-bottom: 5px;
	list-style: outside disc
}

.pg-order-check .order-list {
	margin-bottom: 15px;
	font-size: 12px
}

#cart-check .mainbox {
	padding-bottom: 40px
}

#cart-check .mainbox h2 {
	font-size: 14px;
	border: 0;
	padding: 0;
	margin: 0 0 10px;
	color: #666
}

#cart-check .common-tips-innerbox h3 {
	font-size: 18px
}

#cart-check .common-tips-innerbox ul {
	margin: 10px 0 0 20px;
	font-size: 14px
}

#cart-check .common-tips-innerbox li {
	margin-bottom: 5px;
	list-style: outside disc
}

.pg-cart-check .cart-info-field {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #e5e5e5;
	font-size: 12px;
	line-height: 21px;
	color: #222
}

.pg-cart-check .cart-info-field h4 {
	line-height: 30px;
	color: #666
}

.pg-cart-check .cart-info-field a {
	color: #333
}

.pg-cart-check .cart-info-field .orders-detail {
	padding-left: 20px;
	color: #c5c5c5
}

.pg-cart-check .orders-detail .quantity {
	margin-left: 1em
}

.pg-cart-check .orders-detail li {
	list-style: outside square
}

.pg-cart-check .orders-detail p {
	color: #222
}

.pg-cart-check .orders-detail .more-detail {
	color: #999
}

.pg-cart-check .cart-info-field .delivery-info {
	color: #999
}

.pg-cart-check .cart-info-field .mobile {
	color: #ea4f01
}

.pg-cart-check .cart-info-field .money {
	color: #ea4f01
}

#order-detail #primary-info .operation {
	margin-top: 5px
}

#order-detail #primary-info .inline-link {
	margin-left: 10px
}

#order-detail .flow-list {
	line-height: 1.8
}

#order-detail .appoint-list-link {
	margin-left: 30px
}

#order-detail #order-address {
	line-height: 1.8
}

#order-detail #edit-address-form .field-group {
	padding-left: 90px;
	font-size: 12px
}

#order-detail #edit-address-form .field-group label {
	width: 80px;
	font-size: 12px
}

#order-detail #edit-address-form .delivery-type {
	margin: 0 0 8px 20px
}

#order-detail #edit-address-form .delivery-type li {
	line-height: 2
}

#order-detail #edit-address-form .delivery-type label {
	padding-left: 10px
}

#order-detail #edit-address-form .comment {
	width: 400px;
	margin-bottom: 20px
}

#order-detail #edit-address-form .type-select {
	margin: 10px 0;
	padding-left: 15px
}

#order-detail #edit-address-form .type-select .info {
	color: #666
}

#order-detail #edit-address-form .form-button {
	width: 100px
}

#order-detail .info-table {
	width: 100%
}

#order-detail .info-table th,#order-detail .info-table td {
	padding: 3px 5px;
	text-align: center
}

#order-detail .info-table th {
	font-weight: bold
}

#order-detail .info-table .left {
	text-align: left
}

#order-detail .info-table .total {
	color: #c33
}

#order-detail .info-table .status {
	color: #c33;
	font-size: 12px
}

#order-detail .order-delivery-trace {
	margin-left: 5px;
	cursor: pointer
}

#order-detail .order-delivery-loading {
	padding-left: 20px;
	background: url(../image/icon-loading16x16.gif) no-repeat center left
}

#order-detail .order-delivery-info-wrapper {
	margin-left: 60px
}

#order-detail .order-delivery-info-wrapper .order-delivery-info-content {
	overflow: hidden;
	margin-top: 5px
}

#order-detail .order-delivery-info-wrapper .order-delivery-info-content .warn {
	color: #C00
}

#order-detail .order-delivery-info-wrapper .order-delivery-info-list {
	margin-left: -6px
}

#order-detail .order-delivery-info-wrapper .order-delivery-info-list .last {
	color: #ca0000
}

#order-detail .order-delivery-info-wrapper .order-delivery-info-list .order-delivery-info-context {
	width: 440px;
	vertical-align: top
}

#order-detail .order-delivery-info-wrapper .order-delivery-hint {
	margin: 20px 0 10px;
	border: 1px solid #fec46f;
	padding: 4px 10px 4px 30px;
	background: #fff5e5 url(../image/sys-icons-16.png) no-repeat 8px -295px
}

#order-detail .order-delivery-info-wrapper .common-form {
	border: 1px solid #CCC;
	padding: 20px;
	min-width: 238px;
	margin: 4px 0 10px
}

#order-detail .order-delivery-info-wrapper .captcha label {
	display: block;
	line-height: 1.1;
	margin-bottom: 10px
}

#order-detail .order-delivery-info-wrapper .captcha label span {
	color: #999
}

#order-detail .order-delivery-info-wrapper .captcha .f-text {
	height: 22px;
	line-height: 22px;
	margin-right: 4px
}

#order-detail .order-delivery-info-wrapper .captcha img {
	height: 28px;
	vertical-align: bottom
}

#order-detail .order-delivery-info-wrapper .order-delivery-captcha-refresh {
	vertical-align: bottom
}

#order-detail .order-delivery-info-wrapper .btn-area {
	margin-top: 10px
}

#order-detail .coupon-field {
	min-height: 20px;
	_height: 20px;
	padding: 5px 0 1px 10px;
	border: 1px solid #f4f4f4;
	background-color: #f8f8f8
}

#order-detail .coupon-field li {
	margin-bottom: 5px
}

#order-detail .coupon-field li.invalid {
	color: #999
}

#order-detail .coupon-field li span {
	margin-left: 10px;
	color: #999
}

#order-detail .coupon-field li .extra {
	color: #C00
}

#order-detail .warn {
	color: #C00
}

#order-detail .delivery-delay-warning {
	margin-bottom: 10px;
	color: #C00
}

#refund-detail .field-group .inline-tip {
	padding: 0
}

#refund-detail .order-detail {
	margin-top: 5px
}

#refund-detail .order-detail .field-group {
	margin: 0;
	padding-left: 72px
}

#refund-detail .order-detail .field-group label {
	width: 72px;
	padding-top: 0;
	font-size: 12px
}

#refund-detail .summary strong {
	margin-right: 6px
}

#refund-detail .summary .amount {
	color: #D00
}

#refund-detail .withdraw-detail {
	float: right;
	_width: 268px;
	margin-top: 6px;
	text-align: left
}

#refund-detail .withdraw-detail .field-group {
	margin: 0;
	padding-left: 72px
}

#refund-detail .withdraw-detail .field-group label {
	width: 72px;
	padding-top: 0;
	font-size: 12px
}

#refund-detail .minus {
	display: inline-block;
	*display: inline;
	width: 6px;
	zoom: 1
}

#refund-detail .insufficient {
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center
}

#refund-detail .insufficient em {
	margin: 0 3px;
	color: #D00
}

#refund-detail .withdraw-detail .insufficient {
	margin-bottom: 0;
	text-align: right
}

#refund-detail .withdraw-notice {
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px dotted #f6e0af
}

#apply-withdraw .order-detail {
	margin-top: 5px
}

#apply-withdraw .order-detail .field-group {
	margin: 0;
	padding-left: 72px
}

#apply-withdraw .order-detail .field-group label {
	width: 72px;
	padding-top: 0;
	font-size: 12px
}

#apply-withdraw .error {
	margin: 0 0 10px;
	color: #D00
}

#apply-withdraw .no-branch {
	display: block;
	margin-top: 6px
}

#apply-withdraw .apply-withdraw {
	margin: 0 0 30px
}

#apply-withdraw .apply-withdraw .field-group {
	padding-left: 92px
}

#apply-withdraw .apply-withdraw .field-group label {
	width: 92px;
	padding-top: 0
}

#apply-withdraw .apply-withdraw .f-textarea {
	width: 500px
}

#apply-withdraw .reapply-withdraw {
	margin: 0 0 30px
}

#apply-withdraw .reapply-withdraw .field-group {
	padding-left: 92px
}

#apply-withdraw .reapply-withdraw .field-group label {
	width: 92px
}

#apply-withdraw .withdraw-tip {
	margin: 0;
	color: #666
}

#apply-withdraw .withdraw-tip ul li {
	list-style: outside disc;
	margin-left: 16px
}

#apply-withdraw .minus {
	display: inline-block;
	*display: inline;
	width: 6px;
	zoom: 1
}

#order-feedback .field-group {
	padding-left: 185px
}

#order-feedback .field-group label {
	width: 175px
}

#order-feedback .wantmore label {
	position: static
}

#order-feedback .act {
	margin: 0
}

#order-feedback .act .awards {
	margin-left: 15px
}

#order-feedback .act .awards strong {
	color: #C00
}

#order-send-sms-dialog .field-group {
	margin-bottom: 0;
	padding: 5px 0 20px 60px;
	font-size: 12px
}

#order-send-sms-dialog .field-group label {
	width: 50px;
	text-align: left
}

#order-send-sms-dialog .field-group h4 {
	position: relative;
	top: 4px;
	font-size: 14px;
	font-weight: normal
}

#order-send-sms-dialog .coupon-field {
	margin-top: 20px;
	min-height: 20px;
	_height: 20px;
	padding: 5px 0 1px 10px;
	border: 1px solid #f4f4f4;
	background-color: #f8f8f8
}

#order-send-sms-dialog .coupon-field label {
	position: static;
	width: auto;
	padding: 0;
	margin: 0;
	font-size: 12px;
	text-align: left;
	cursor: pointer
}

#order-send-sms-dialog .coupon-field .multi-coupon-tip {
	margin-bottom: 5px;
	color: #D00
}

#order-send-sms-dialog .coupon-field li {
	margin-bottom: 5px
}

#order-send-sms-dialog .coupon-field li input {
	vertical-align: middle
}

#order-send-sms-dialog .coupon-field li .invalid {
	color: #999
}

#order-send-sms-dialog .coupon-field li span {
	margin-left: 10px;
	color: #999
}

#order-send-sms-dialog .coupon-field li .extra {
	color: #C00
}

#order-send-sms-dialog .loading {
	margin: 0
}

#order-send-sms-dialog .long {
	height: 185px;
	overflow-y: scroll
}

#order-send-sms-dialog .f-text {
	width: 120px
}

#order-send-sms-dialog .mobile {
	margin-left: 60px;
	padding-left: 15px;
	background: url(../image/bg-icons.png) no-repeat -245px -285px;
	_background-position-y: -284px;
	line-height: 18px;
	font-size: 12px
}

#order-view-coupon-dialog .field-group {
	margin-bottom: 0;
	padding: 5px 0 20px 60px;
	font-size: 12px
}

#order-view-coupon-dialog .field-group label {
	width: 50px;
	text-align: left
}

#order-view-coupon-dialog .field-group h4 {
	position: relative;
	top: 4px;
	font-size: 14px;
	font-weight: normal
}

#order-view-coupon-dialog #title-field {
	position: relative;
	top: 4px
}

#order-view-coupon-dialog #title-field h4 {
	display: inline;
	position: static;
	top: 0;
	margin: 0 6px 0 0
}

#order-view-coupon-dialog .coupon-field {
	margin-top: 20px;
	min-height: 20px;
	_height: 20px;
	padding: 5px 0 1px 10px;
	border: 1px solid #f4f4f4;
	background-color: #f8f8f8
}

#order-view-coupon-dialog .coupon-field li {
	margin-bottom: 5px
}

#order-view-coupon-dialog .coupon-field li.invalid {
	color: #999
}

#order-view-coupon-dialog .coupon-field li span {
	margin-left: 10px;
	color: #999
}

#order-view-coupon-dialog .coupon-field li .extra {
	color: #C00
}

#order-view-coupon-dialog .loading {
	margin: 0
}

#order-view-coupon-dialog .long {
	height: 185px;
	overflow-y: scroll
}

#order-view-coupon-dialog .f-text {
	width: 120px
}

#order-view-coupon-dialog .mobile {
	margin-left: 60px;
	padding-left: 15px;
	background: url(../image/bg-icons.png) no-repeat -245px -285px;
	_background-position-y: -284px;
	line-height: 18px;
	font-size: 12px
}

.pg-aftersales .info-section .small-link-button {
	margin-top: 5px
}

.pg-aftersales .info-section form {
	margin-top: 5px
}

.pg-aftersales .add-msg {
	margin-bottom: 10px
}

.pg-aftersales .add-msg .field-group {
	margin-bottom: 0;
	padding-left: 0
}

.pg-aftersales .add-msg .f-textarea {
	width: 400px;
	height: 3em
}

.pg-aftersales .msg-list {
	font-size: 12px
}

.pg-aftersales .msg-list dt {
	margin: 5px 0;
	font-weight: bold
}

.pg-aftersales .msg-list .date {
	margin-left: 10px;
	color: #999;
	font-weight: normal
}

.pg-aftersales .msg-list dd {
	padding: 0 0 8px 0;
	border-bottom: 1px dotted #ccc
}

.pg-aftersales .aftersales-trigger {
	position: relative;
	margin-bottom: 10px;
	height: 33px;
	line-height: 33px;
	padding: 0 10px 0 20px;
	background: url(../image/bg-help-title.png) no-repeat 0 0;
	color: #666;
	font-weight: bold;
	cursor: pointer
}

.pg-aftersales .aftersales-trigger i {
	position: absolute;
	top: 13px;
	left: 636px;
	display: block;
	width: 9px;
	height: 7px;
	font-size: 0;
	line-height: 0;
	background: url(../image/bg-help-title-arrow.png) no-repeat 0 0
}

.pg-aftersales .fold {
	background-position: 0 0
}

.pg-aftersales .unfold {
	background-position: 0 -100px
}

.pg-aftersales .hover {
	background-position: 0 -100px;
	color: #35999b
}

.pg-aftersales .hover i {
	background-position: 0 -100px
}

.pg-aftersales .unfold i {
	background-position: 0 -150px
}

.pg-appoint-list .coupon-count {
	color: #C33;
	font-weight: bold
}

.pg-appoint-list .appoint-title {
	margin: 20px 0 5px;
	font-size: 16px
}

.pg-appoint-list .appoint-status {
	font-weight: bold;
	color: #ee5238
}

.pg-appoint-list .blue-info-section {
	margin-top: 20px
}

.pg-appoint-list .field-group .inline-tip {
	padding: 0
}

.pg-appoint-list .order-detail {
	margin-top: 5px
}

.pg-appoint-list .order-detail .field-group {
	margin: 0;
	padding-left: 72px
}

.pg-appoint-list .order-detail .field-group label {
	width: 72px;
	padding-top: 0;
	font-size: 12px
}

.pg-appoint-list .summary strong {
	margin-right: 6px
}

.pg-appoint-list .summary .amount {
	color: #D00
}

.pg-appoint-list #sidebar {
	padding-top: 37px
}

.pg-appoint-list .feedback-link {
	font-size: 12px;
	float: right
}

.deal-num {
	color: blue;
}
